!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Boston EDM Calendar"
      %meta{:content => content_for?(:description) ? yield(:description) : "Boston EDM Calendar", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = yield :css
        = javascript_include_tag "application"
        = yield :javascripts
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
          %footer
      / ! end of .container
    / ! end of #main
:css
  table{
    width: 100%
  }
  td{
    white-space:nowrap; 
    overflow:hidden; 
    text-overflow:ellipsis;
  }